/* After login this part only heading part  name of haeding Check Tabular View, Check Card View,logout*/

.navbar {
  position: fixed;
  background-color: #808080;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar li {
  float: left;
  list-style: none;
  margin: 0px 20px;
}

.navbar ul {
  overflow: auto;
}
.navbar li a {
  padding: 3px 3px;
  text-decoration: none;
  color: pink;
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar .li-active {
  border-bottom: 1px solid greenyellow;
}
